
// Font Stack
$p-font: 'sofia-pro', sans-serif;

// Primary Colors
$b-color: #f4f5fa; // background
$s-color: #878a8c; // secondary
$t-color: #4C70FF; // trinary
$w-color: #ffffff; // white

// Font Colors
$f-color: #444444; // primary
$fs-color: #747474; // secondary
$ft-color: #888888; // ternary

// Social Colors

// Elements
$border-color: #d8e1e6; // Border
$outline: rgba(53, 53, 53, .6);