.logo {
    display: block;
    color: $f-color;
    font-size: 18px;
    font-weight: 700;
    margin: 18px 66px;
}

.hero {
    display: block;
    width: 62%;
    margin: 8% auto;

    h2 {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 16px 0;
        opacity: .8;
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 28px 0;
    }

    h4 {
        font-size: 38px;
        line-height: 42px;
        margin: 0 0 24px 0;
    }

    input {
        display: inline-block;
        width: 295px;
        color: $f-color;
        background: rgba($w-color, .8);
        font-family: $p-font;
        font-size: 16px;
        border: 1px solid rgba($f-color, .2);
        border-radius: 4px;
        padding: 10px 18px 12px 18px;
        margin: 0;
        outline: none;
        transition: border .1s;
        resize: none;

        &::placeholder {
            color: $f-color;
            opacity: .6;
        }

        &:focus,
        &:hover {
            border-color: rgba($f-color, .5);
        }
    }

    button {
        display: inline-block;
        color: $w-color;
        background-color: $t-color;
        font-family: $p-font;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        padding: 8px 32px 12px 32px;
        margin: 0 8px;
        -webkit-transition: background-color .2s;
        transition: background-color .2s;

        &::after {
            content: "Subscribe";
        }

        &:hover {
            cursor: pointer;
            background-color: lighten($t-color, 4%);
        }

        span {
            position: absolute;
            top: 10px;
            right: 12px;
        }
    }

    .links {
        margin: 38px 0;

        a {
            margin: 0 22px;

            &:first-of-type {
                margin: 0 22px 0 12px;
            }
        }

        span {
            color: rgba($f-color, .6);
            font-size: 24px;
            transition: color .1s;
        }

        .icon-gab:hover {
            color: #21cf7a;
        }

        .icon-github:hover {
            color: #000000;
        }

        .icon-linkedin:hover {
            color: #0a66c2;
        }

        .icon-dribbble:hover {
            color: #ea4c89;
        }
    }

    .hide {
        display: none;
    }
}

@media (max-width: 667px) {
    .hero {
        width: 72%;
    }
}

@media (max-width: 576px) {

    .logo {
        margin: 32px 36px 56px 36px;
    }

    .hero {
        width: 80%;

        br {
            display: none;
        }

        input {
            width: calc(100% - 75px);
        }

        button {
            padding: 8px 16px 12px 16px;
            margin: 0 8px;

            &::after {
                content: "OK";
            }
        }

        .links {
            position: absolute;
            bottom: 24px ;
            width: 258px;
        }
    }

}
