@import 'fonts';
@import 'config';

html,
body {
    padding: 0;
    margin: 0;
}

html {
    background: $b-color;
}

body {
    //background: url('/img/bg.svg') no-repeat center 30px;
    min-height: calc(100vh - 32px);
}

*, *:after, *:before { 
    box-sizing: border-box;  
    
    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a {
    color: $f-color;
    font-family: $p-font;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

@import 'index';